{{> head }}

    {{> navbar}}

    <div class="row">
        <div class="col-4">
            <h1>Este es el about</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit, autem labore quae eligendi dolorem ipsam dicta, alias aut iste ipsa sequi magnam facere aliquid non nihil quaerat porro cupiditate! Eius!
            </p>
        </div>

        <div class="col-8">
            <img src="assets/img/marc-marquez.png" class="img-fluid" class="rounded mx-auto d-block">
        </div>

    </div>

{{> footer}}